{% extends "Templates/layout.twig" %}

{% block body %}
<link rel="stylesheet" href="/assets/css/staff.css" />
<div class="content">
  <h1 class="text-center">Staff</h1>
  <hr />
  <div class="row">
    <div class="col">
      <div class="staff-group">
        <img class="img-fluid" src="https://crafatar.com/avatars/ba4161c03a42496c8ae07d13372f3371?helm=true">
        <div>
          <h2>{{staff['ba4161c03a42496c8ae07d13372f3371']}} <i class="fas fa-crown fa-xs dynamic" style="color:#DAA520" data-toggle="tooltip" data-placement="right" title="Creator"></i></h2>
          <strong>Founder</strong>
          <p>I am the founder of the server, I make all of the final decisions. Well, that's a lie. Dylan tells me what to do.</p>
          <p>I also made the <a href="https://minecraftcapes.co.uk" target="_blank">MinecraftCapes mod!</a></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff-group">
        <img class="img-fluid" src="https://crafatar.com/avatars/617687afc8a846978e5c3ed53b7a335f?helm=true">
        <div>
          <h2>{{staff['617687afc8a846978e5c3ed53b7a335f']}}</h2>
          <strong>Founder</strong>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="staff-group">
        <img class="img-fluid" src="https://crafatar.com/avatars/bf8b08a5714c46678f49efce56cb7dc5?helm=true">
        <div>
          <h2>{{staff['bf8b08a5714c46678f49efce56cb7dc5']}}</h2>
          <strong>Admin</strong>
          <p>The man who forgets his mind, the one who falls flat against the person he was moments before, he who rises to the challenge of defeating his own reflection.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff-group">
        <img class="img-fluid" src="https://crafatar.com/avatars/58f1a83b425d4844823ffa04a201facd?helm=true">
        <div>
          <h2>{{staff['58f1a83b425d4844823ffa04a201facd']}}</h2>
          <strong>Admin</strong>
          <p>The Small yet mighty Admin! I pretty much just hangout with players and keep the community happy while laying down the hammer of justice on those who deserve it!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="staff-group">
        <img class="img-fluid" src="https://crafatar.com/avatars/1c1e62b7fec14effa4dc9d3b97f6ded6?helm=true">
        <div>
          <h2>{{staff['1c1e62b7fec14effa4dc9d3b97f6ded6']}}</h2>
          <strong>Mod</strong>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
